window.__APP_CONFIG__ = {
  CATALOG: "${CATALOG}",
  ORDERS: "${ORDERS}",
  PAYMENT: "${PAYMENT}",
  KEYCLOAK_URL: "${KEYCLOAK_URL}",
  KEYCLOAK_REALM: "${KEYCLOAK_REALM}",
  KEYCLOAK_CLIENT_ID: "${KEYCLOAK_CLIENT_ID}",
};
